/* Container para os cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilo para cada card */
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px 8px 0px 0px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px); /* efeito de elevação no hover */
}

/* Estilo do cabeçalho do card */
.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Estilo do corpo do card */
.card-body {
    padding: 15px;
    font-size: 14px;
    color: #333;
}
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
.button:hover {
    background-color: #0056b3;
}   
.card.verde {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card.amarelo {
    background-color: #ffc107;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card.vermelho {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.button a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.card-body p {
    margin-bottom: 10px;
}

/* Estilo do rodapé do card */
.card-footer {
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* Botões dentro do rodapé */
.card-footer .button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.card-footer .button:hover {
    background-color: #0056b3;
}

/* Ajustando o espaçamento para botões pequenos */
.button_small {
    padding: 6px 12px;
    font-size: 12px;
}
.no-loans {
    text-align: center;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 20px 0;
    border: 1px dashed #ccc;
}

.no-loans p {
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 20px;
}

.btn-add-loan {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-add-loan:hover {
    background-color: #218838;
}